global_defs {
  vrrp_skip_check_adv_addr
}
{% set interface = ansible_default_ipv4.interface %}

{% for host in groups[node_group_name] %}
{% set virtual_router_id = 254 - loop.index0 %}
{% if ansible_hostname == host %}
{% set state = "MASTER" %}
{% set priority = 200 %}
{% else %}
{% set state = "BACKUP" %}
{% set priority = 100 %}
{% endif %}
vrrp_instance VI_{{ loop.index }} {
        state {{ state }}
        interface {{ interface }}
        virtual_router_id {{ virtual_router_id }}
        priority {{ priority }}
        advert_int 1
        authentication {
              auth_type PASS
              auth_pass {{ keepalived.auth_pass }}
        }
        virtual_ipaddress {
              "{{ keepalived.virtual_ips[loop.index0] }}"
        }
}
{% endfor %}
