kind: ConfigMap
apiVersion: v1
metadata:
  name: kubernetes-services-endpoint
  namespace: tigera-operator
data:
  KUBERNETES_SERVICE_HOST: "{{ kube_apiserver }}"
  KUBERNETES_SERVICE_PORT: "{{ kube_apiserver_port }}"
