---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
kubernetesVersion: stable
controlPlaneEndpoint: "{{ kube_apiserver }}:{{ kube_apiserver_port }}"
etcd:
  external:
    endpoints:
{% for host in groups['k8s_etcd'] %}
      - https://{{ hostvars[host]['ansible_default_ipv4']['address'] }}:2379
{% endfor %}
    caFile: /etc/kubernetes/pki/etcd/ca.crt
    certFile: /etc/kubernetes/pki/apiserver-etcd-client.crt
    keyFile: /etc/kubernetes/pki/apiserver-etcd-client.key
controllerManager:
  extraArgs:
    - name: cluster-cidr
      value: "{{ k8s_cluster_cidr }}"
{% if k8s_cni.name == "calico" %}
    - name: allocate-node-cidrs
      value:  "false"
networking:
  podSubnet: "{{ k8s_cluster_cidr }}"
{% endif %}
